.create_post{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.create_post_box{
    width: 55%;
    display: flex;
}

.image_preview{
    border: 1px solid rgba(206, 206, 206, 0.877);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 55vh;
    flex-direction: column;
    display: flex;
    width: 50%;
    background-color: #f2f2f2;
}

.preview{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.demo_image{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.post_editor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 55vh;
    background-color: aqua;
}

.caption{
    display: flex;
    flex-direction: column;
}

.editor_btn{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
}

.editor_btn> button{
    width: 50%;
}

.choose_filebtn{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15.4%;
    height: 30px;
    margin-left: 8.1%;
    background-color: rgb(0, 110, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(245, 246, 247, 0.815) 0px -2px 6px 0px inset;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    position: absolute;
    width: 150px;
}
